<div id="xmlproject_settings"><fieldset>
  <legend><%=l :label_xmlproject %></legend>

  <p><%=l :label_xmlproject_please_note %></p>
  <p><%= form.text_field :xmlproject_icon, :size => 30 %></p>

  <% if @repository.branches %>
    <p><%= form.select :xmlproject_i18n_trunk, options_for_select(['none'] + @repository.branches, @repository.xmlproject_i18n_trunk)  %></p>
    <p><%= form.select :xmlproject_i18n_stable, options_for_select(['none'] + @repository.branches, @repository.xmlproject_i18n_stable) %></p>
    <p><%= form.select :xmlproject_i18n_trunk_kf5, options_for_select(['none'] + @repository.branches, @repository.xmlproject_i18n_trunk_kf5)  %></p>
    <p><%= form.select :xmlproject_i18n_stable_kf5, options_for_select(['none'] + @repository.branches, @repository.xmlproject_i18n_stable_kf5) %></p>
  <% end %>

  <p><%= form.check_box :xmlproject_active %></p>

</fieldset></div>

